@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Lato", sans-serif;

  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #b9e5fe;
  --color-primary-300: #7cd1fd;
  --color-primary-400: #36bcfa;
  --color-primary-500: #0ca3eb;
  --color-primary-600: #0081c7;
  --color-primary-700: #0167a3;
  --color-primary-800: #065886;
  --color-primary-900: #0b496f;
  --color-primary-950: #072e4a;
}
